<div style="text-align: center; padding: 20px;">
    <app-title-description></app-title-description>
</div>
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
    <app-echarts-visualization style="flex: 1; margin: 10px;"></app-echarts-visualization>
    <app-interns-by-location style="flex: 1; margin: 10px;"></app-interns-by-location>
    <app-interns-by-college style="flex: 1; margin: 10px;"></app-interns-by-college>
</div>
<!-- <div style="margin: 20px;">
    <app-interns-table></app-interns-table>
</div> -->